#logo {
	text-align: center;
	background-color: lightblue;
}

#welcome {
	font-size: 2em;
	text-align: center;
}

.h3-index {
	font-size: 2em;
	text-align: center;
}

.h4-index {
	text-align: center;
	color: red;
}

.forca {
	text-align: center;
}

#footer {
	text-align: center;
	position: ;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
}

#footer a {
	color: #464646;
}

#aboutus p{
	text-align: center;
	font-size: 2em;
	
}